In [2]:
import pandas as pd
from sqlalchemy import create_engine, inspect
import json
pd.set_option('display.max_columns',None)

In [5]:
df = pd.read_csv("Downloads/executions.csv")
df.head()

,Date,Name,Age,Sex,Race,Crime,Victim Count,Victim Sex,Victim Race,County,State,Region,Method,Juvenile,Volunteer,Federal,Foreign National
0,01/17/1977,Gary Gilmore,36,Male,White,Murder,1,Male,White,Utah,UT,West,Firing Squad,No,Yes,No,No
1,05/25/1979,John Spenkelink,30,Male,White,Murder,1,Male,White,Leon,FL,South,Electrocution,No,No,No,No
2,10/22/1979,Jesse Bishop,46,Male,White,Murder,1,Male,White,Clark,NV,West,Gas Chamber,No,Yes,No,No
3,03/09/1981,Steven Judy,24,Male,White,Murder,4,"2 Male, 2 Female",White,Marion,IN,Midwest,Electrocution,No,Yes,No,No
4,08/10/1982,Frank Coppola,38,Male,White,Murder,1,Male,White,Newport News City,VA,South,Electrocution,No,Yes,No,No

In [6]:
df['Date'] = pd.to_datetime(df['Date'])

In [7]:
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month

In [8]:
df['County & State'] = df['County'].astype(str) +", "+ df["State"]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1442 entries, 0 to 1441
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              1442 non-null   datetime64[ns]
 1   Name              1442 non-null   object
 2   Age               1442 non-null   int64
 3   Sex               1442 non-null   object
 4   Race              1442 non-null   object
 5   Crime             1442 non-null   object
 6   Victim Count      1442 non-null   int64
 7   Victim Sex        1437 non-null   object
 8   Victim Race       1436 non-null   object
 9   County            1440 non-null   object
 10  State             1442 non-null   object
 11  Region            1442 non-null   object
 12  Method            1442 non-null   object
 13  Juvenile          1442 non-null   object
 14  Volunteer         1442 non-null   object
 15  Federal           1442 non-null   object
 16  Foreign National  1442 non-null   object
 17  Year              1442 non-null   int64
 18  Month             1442 non-null   int64
 19  County & State    1442 non-null   object
dtypes: datetime64[ns](1), int64(4), object(15)
memory usage: 225.4+ KB

In [10]:
df.head()

,Date,Name,Age,Sex,Race,Crime,Victim Count,Victim Sex,Victim Race,County,State,Region,Method,Juvenile,Volunteer,Federal,Foreign National,Year,Month,County & State
0,1977-01-17,Gary Gilmore,36,Male,White,Murder,1,Male,White,Utah,UT,West,Firing Squad,No,Yes,No,No,1977,1,"Utah, UT"
1,1979-05-25,John Spenkelink,30,Male,White,Murder,1,Male,White,Leon,FL,South,Electrocution,No,No,No,No,1979,5,"Leon, FL"
2,1979-10-22,Jesse Bishop,46,Male,White,Murder,1,Male,White,Clark,NV,West,Gas Chamber,No,Yes,No,No,1979,10,"Clark, NV"
3,1981-03-09,Steven Judy,24,Male,White,Murder,4,"2 Male, 2 Female",White,Marion,IN,Midwest,Electrocution,No,Yes,No,No,1981,3,"Marion, IN"
4,1982-08-10,Frank Coppola,38,Male,White,Murder,1,Male,White,Newport News City,VA,South,Electrocution,No,Yes,No,No,1982,8,"Newport News City, VA"

In [11]:
dfc = pd.read_excel('Downloads/us-county-boundaries.xlsx')

In [12]:
dfc['County & State'] = dfc['County'].astype(str) +", "+ dfc["State"]

In [13]:
dfc.head()

,Geo Point,Coordinates,STATEFP,COUNTYFP,COUNTYNS,GEOID,County,NAMELSAD,State,LSAD,CLASSFP,MTFCC,CSAFP,CBSAFP,METDIVFP,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,STATE_NAME,COUNTYFP NOZERO,County & State
0,"41.001938375, -83.6665354077","[41.001938375, -83.6665354077]",39,63,1074044,39063,Hancock,Hancock County,OH,6,H1,G4020,534.0,22300.0,NaN,A,1376125660,6020647,41.000471,-83.666033,Ohio,63,"Hancock, OH"
1,"38.4207190191, -77.4574003866","[38.4207190191, -77.4574003866]",51,179,1480173,51179,Stafford,Stafford County,VA,6,H1,G4020,548.0,47900.0,47894.0,A,697237202,28088011,38.413261,-77.451334,Virginia,179,"Stafford, VA"
2,"40.1764332141, -98.4999473753","[40.1764332141, -98.4999473753]",31,181,835912,31181,Webster,Webster County,NE,6,H1,G4020,NaN,NaN,NaN,A,1489017962,337241,40.180646,-98.498590,Nebraska,181,"Webster, NE"
3,"28.4225359982, -99.756726125","[28.4225359982, -99.756726125]",48,127,1383849,48127,Dimmit,Dimmit County,TX,6,H1,G4020,NaN,NaN,NaN,A,3441795367,14576535,28.423587,-99.765871,Texas,127,"Dimmit, TX"
4,"41.7723266607, -91.1324230468","[41.7723266607, -91.1324230468]",19,31,465205,19031,Cedar,Cedar County,IA,6,H1,G4020,NaN,NaN,NaN,A,1500798712,6385832,41.772360,-91.132610,Iowa,31,"Cedar, IA"

In [14]:
df2 = pd.merge(df, dfc, on="County & State")

In [15]:
df2.columns

Index(['Date', 'Name', 'Age', 'Sex', 'Race', 'Crime', 'Victim Count',
       'Victim Sex', 'Victim Race', 'County_x', 'State_x', 'Region', 'Method',
       'Juvenile', 'Volunteer', 'Federal', 'Foreign National', 'Year', 'Month',
       'County & State', 'Geo Point', 'Coordinates', 'STATEFP', 'COUNTYFP',
       'COUNTYNS', 'GEOID', 'County_y', 'NAMELSAD', 'State_y', 'LSAD',
       'CLASSFP', 'MTFCC', 'CSAFP', 'CBSAFP', 'METDIVFP', 'FUNCSTAT', 'ALAND',
       'AWATER', 'INTPTLAT', 'INTPTLON', 'STATE_NAME', 'COUNTYFP NOZERO'],
      dtype='object')

In [16]:
df3 = df2.loc[:,['Date', 'Month', 'Year', 'Name', 'Age', 'Sex', 'Race', 'Victim Count',  'Method', 'County_x', 'State_x', 'Coordinates']]

In [17]:
df3 = df3.rename(columns={"County_x": "County", "State_x": "State"})

In [18]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1422 entries, 0 to 1421
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          1422 non-null   datetime64[ns]
 1   Month         1422 non-null   int64
 2   Year          1422 non-null   int64
 3   Name          1422 non-null   object
 4   Age           1422 non-null   int64
 5   Sex           1422 non-null   object
 6   Race          1422 non-null   object
 7   Victim Count  1422 non-null   int64
 8   Method        1422 non-null   object
 9   County        1422 non-null   object
 10  State         1422 non-null   object
 11  Coordinates   1422 non-null   object
dtypes: datetime64[ns](1), int64(4), object(7)
memory usage: 144.4+ KB

In [23]:
path = "sqlite:///data/executions_with_coordinates.sqlite"
engine = create_engine(path)

In [24]:
df3.to_sql("executions_with_coordinates", con=engine, method="multi", if_exists="replace", index=False)

1422

In [25]:
# INSPECT
inspector_gadget = inspect(engine)

# get all tables
table_names = inspector_gadget.get_table_names()
for table in table_names:
    print(table)
    
    # get columns for table
    for column in inspector_gadget.get_columns(table):
        print(column)
        
    print()

executions_with_coordinates
{'name': 'Date', 'type': DATETIME(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'Month', 'type': BIGINT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'Year', 'type': BIGINT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'Name', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'Age', 'type': BIGINT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'Sex', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'Race', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'Victim Count', 'type': BIGINT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'Method', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'County', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'State', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'Coordinates', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}

In [50]:
#df3.to_json('executions_updated.json', orient='records', lines=True)

In [26]:
df3.to_json(r'executions_with_coordinates', orient ='records', indent = 2)